@import url("./typo/typo.css");
@import url("./section/section.css");
@import url("./slider/slider.css");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Futura PT", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-size: 20px;
  line-height: 1.5rem;
  position: relative;
  color: #a89365;
}

button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #FFFFFF;
  color: #a89365;
  font-family: "Futura PT", sans-serif;
  font-weight: 400;
}
