.slider__item-image {
  width: 100%;
}

.slider__item-title {
  font-weight:bold;
  margin: 20px 0;
}

.slider__item-text {
  color: #000000;
  margin: 0;
}

.next {
  position: absolute;
  z-index: 1000;
  top: 35%;
  right: -35px;
}

.prev {
  position: absolute;
  z-index: 1000;
  top: 35%;
  left: -35px;
}

@media screen and (max-width: 1024px) {
  .next {
    right: -32px;
  }

  .prev {
    left: -32px;
  }
}
